* {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

@font-face {
    font-family: 'SD Dystopian';
    src: url('fonts/Sddystopiandemo-GO7xa.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.game {
    width: 1000px;
    height: 500px;
    border: 10px solid rgb(50, 34, 139);
    margin: auto;
    background-image: url(images/cosmos.jpg) ;
}

#character {
    width: 50px;
    height: 50px;
    background-color: chocolate;
    position: relative;
    margin-left: 10px;
    top: 450px;

}

.animate {
    animation: jump 2s linear;

}

@keyframes jump {
    0%{top: 70px};
    30%{top: 70px};
    70%{top: 70px};
    100%{top: 70px};
}




#block {
    background-color: aquamarine;
    width: 50px;
    height: 50px;
    position: relative;
    top: 400px;
    left: 100%;
    animation: block 3s infinite linear;
}


@keyframes block{
    0%{left: 1000px}
    100%{left: -50px}
}

p {
    text-align: center;
    font-family: 'SD Dystopian';
    font-weight: bolder;

}

 #left-eye {
    position: relative;
    width: 10px;
    height: 10px;
    top: 10px;
    background-color: black;
    border-radius: 50%;


}
#right-eye {
    position: sticky;
    left: 35px;
    width: 10px;
    height: 10px;
    bottom: 10px;
    border-radius: 50%;
    background-color: black;
    
} 

#mouth {
    position: sticky;
    width: 20px;
    height: 10px;
    left: 15px;
    bottom: 20px;
    border-radius: 25%;
    background-color: blueviolet;
}
 #left-eye-enemy1 {
    position: relative;
    width: 10px;
    height: 10px;
    top: 10px;
    background-color: black;
    border-radius: 50%;


}
#right-eye-enemy1 {
    position: sticky;
    left: 35px;
    width: 10px;
    height: 10px;
    bottom: 10px;
    border-radius: 50%;
    background-color: black;
    
} 

#mouth-enemy1 {
    position: sticky;
    width: 20px;
    height: 10px;
    left: 15px;
    bottom: 20px;
    border-radius: 25%;
    background-color: #f31010;
}

#mouth:hover {
    background-color: chartreuse
}
#mouth-enemy:hover {
    background-color: rgb(60, 0, 255)
}

#left-eye:hover, #right-eye:hover  {
    background-color: #f31010;
}